@model Planetsino.Models.GamePlay
@{
    ViewBag.Title = "Play";
}
<br />

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-info">
        @Html.Raw(Model.Message)
    </div>
}

<p>
    <img src="~/Images/piggy-bank-1056615.jpg" class="img-responsive" style="width: 200px;" />
</p>

@using (Html.BeginForm())
{
    <p>
        Your score: @Model.PlayerScore
        @if (Model.PlayerScoreIncrease > 0)
        {
            <span class="label label-success"> +@Model.PlayerScoreIncrease </span>
        }
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Computer score: @Model.ComputerScore
        @if (Model.ComputerScoreIncrease > 0)
        {
            <span class="label label-danger"> +@Model.ComputerScoreIncrease </span>
        }
    </p>

    <p>
        Pot: @Model.Pot
        @if (Model.PotIncrease > 0)
        {
            <span class="label label-success"> +@Model.PotIncrease </span>
        }
    </p>

    if (Model.PlayerCoins.Length > 0)
    {
        <h3>Your last toss</h3>
        <p>
            @for (var i = 0; i < Model.PlayerCoins.Length; i++)
            {
                <img src="~/Images/coin@(Model.PlayerCoins[i]).jpg" style="width: 80px;" />
            }
        </p>
    }

    if (Model.ComputerCoins.Length > 0)
    {
        <h3>Computer's toss</h3>
        <p>
            @for (var i = 0; i < Model.ComputerCoins.Length; i++)
            {
                if (i >= 3 && i % 3 == 0)
                {
                    <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                }
                <img src="~/Images/coin@(Model.ComputerCoins[i]).jpg" style="width: 80px;" />
            }
        </p>
    }

    if (Model.GameOver == true)
    {
        <p>Your balance: $@Model.Player.Balance</p>
        <p>
            @if (Model.Player.Balance >= 20)
            {
                @Html.ActionLink("New game", "Play", new { }, new { @class = "btn btn-info" })
            }
            @Html.ActionLink("End", "Account", new { }, new { @class = "btn btn-danger" })
        </p>
    }
    else
    {
        <p>
            @if (!Model.ComputersTurn)
            {
                <button type="submit" name="button" value="toss" class="btn btn-success">Toss</button>
                if (Model.Pot > 0)
                {
                    <button type="submit" name="button" value="call" class="btn btn-danger">Call</button>
                }
            }
            else
            {
                <button type="submit" name="button" value="continue" class="btn btn-success">Continue</button>
            }
        </p>

        <h3>Rules</h3>
        <p>Chose between Toss and Call</p>
        <ul>
            <li>Toss three coins and count the number of heads. 0 heads means you lose your turn. Otherwise the pot increases with the number of heads.</li>
            <li>If you Call, the pot will be added to your score.</li>
        </ul>
        <p>Compete against the computer. First to reach 25 points wins.</p>
    }
}
